/* RESETS */

:root {
    --base-color: #F8F9FA;
    --header-base-color: #212529;
    --logo1-color: #BBD0FF;
    --logo2-color: #d9dcd6;
    --header-text-color: #F8F9FA;  
    --header-background-color: #495057;
    --footer-background-color: #6C757D;
    --placeholder-color: #ADE8F4;
}

/* ANIMATIONS */


/* GLOBAL CLASSES */


/* CUSTOM STYLES */

.avatar-image {
    max-width: 200px; 
    height: auto;
}

.cardContainer {
    margin: 20px;
    text-align: center;
}

.card {
    margin: 0 auto;
}

